<h1><%= @product.title %></h1>

<ul>
    <li>
    Price: $
      <%= @product.price %>
    </li>
    <li>
    Quantity:
      <%= @product.stock_quantity %>
    </li>
    <li>
    Description:
      <%= @product.description %>
    </li>
</ul>
